.mainBlock {
  font-family: "Roboto";
  width: 90%;
  margin: 0 auto;
}

.mainWrapper {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1570px) {
  .mainWrapper {
    display: inline-block;
  }
}

.fieldWrapper {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
