.carouselItem{
    margin-top: 20px;
    height: 400px;
    text-align: center;
    background-color: #e3e3e3
}

.playerWrapper{
    display: flex;
    align-items: center;
}

.playerWrapper:hover{
    background-color: #cfcfcf;
}

.carouselLogo{
    height: 25px;
    width: 25px;
    margin: 2px 10px;
}

.carouselPlayer{
    width: 160px;
    text-align: start;
}

.idValue{
    margin-bottom: 10px
}
