.carouselItem {
  margin-top: 5px;
  height: 725px;
  text-align: center;
}

.playerWrapper {
  font-size: 18px;
  display: flex;
  align-items: center;

  height: 60px
  
  
}

@media screen and (max-width: 1570px) {
  .playerWrapper{
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    justify-content: space-around;
  }
}

.playerWrapper:hover {
  background-color: #cfcfcf;
}

.carouselLogo {
  height: 25px;
  width: 25px;
  margin: 2px 10px;
}

.carouselPlayer {
  width: 160px;
  text-align: start;
}

.idValue {
  margin: 0 auto;
  
}

.carouselPosition{
  width: 100px;
  margin-left: 45px;
}
