.playerName{
	width: 100px;
	height: 65px;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	margin-top: 10px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}