.fieldBlock {
  width: 31%;
  height: 740px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #e0e0e0;
}

@media screen and (max-width: 1570px) {
  .fieldBlock{
    margin: 0 auto;
    width: 80%
  }
}

.playerItem {
  height: 50px;
}
